$bg-row-color: #F2F2F2;
$color-text: gray;
$color-h2: darken( $color-text, 20% );

body {
    color: $color-text;
}

.row {
    & > div {
        background-color: $bg-row-color;
        margin: 10px 0;

        h2 {
            color: $color-h2;
        }
    }
}