$bg-row-color: #F2F2F2;
$color-text: gray;
$color-text-light: $bg-row-color;
$color-h2: darken( $color-text, 20% );

body {
    color: $color-text;
}

h1, h2, h3 {
    text-align: center;
}

hr {
    background-color: darken( $color-text, 10% );
    height: 1px;
}

.row {
    background-color: lighten($color: green, $amount: 50% );
    height: auto;

    &.internal-row {
        background-color: lighten($color: green, $amount: 20% );
    }

    & > div {
        margin: 10px 0;
        text-align: left;

        .col-four,
        .col-one {
            text-align: left;
        }

        h2 {
            //color: $color-h2;
        }
    }

    & .col-two,
    & .col-three,
    & .col-four {
        border: 1px dotted gray;
        box-sizing: border-box;
    }

    & .col-zero {
        background-color: white;
        border: 1px dotted gray;
    }
    & .col-one {
        background-color: $bg-row-color;
    }
    & .col-two {
        background-color: darken( $bg-row-color, 5% );
    }
    & .col-three {
        background-color: darken( $bg-row-color, 10% );
    }
    & .col-four {
        background-color: darken( $bg-row-color, 15% );
    }
    & .col-five {
        background-color: darken( $bg-row-color, 20% );
        color: $color-text-light;
    }
    & .col-six {
        background-color: darken( $bg-row-color, 25% );
        color: $color-text-light;
    }
    & .col-seven {
        background-color: darken( $bg-row-color, 30% );
        color: $color-text-light;
    }
    & .col-eight {
        background-color: darken( $bg-row-color, 35% );
        color: $color-text-light;
    }
    & .col-nine {
        background-color: darken( $bg-row-color, 40% );
        color: $color-text-light;
    }

    p {
        text-align: left;
    }

    .list {
        list-style: none;
        text-align: left;

        .promo {
            color: red;
        }
    }
}