/* Array anidado dde Colores */
$colors: (
    body: (
        bg: #F0F3F5,
        color: white
    ),
    header: (
        bg: #9ACA40,
        color: white
    ),
    main: (
        bg: white,
        color: #424242
    ), 
    aside: (
        bg: #DEE5E8,
        color: gray
    ),
    widget: (
        bg: #2196F3,
        color: #F2F2F2
    ),
    footer: (
        bg: #1E1E1E,
        color: #F2F2F2
    )
);

// Función para iterar los colores del Array anidado
@function color( $color, $tone: 'base' ) {
    @return map-get( map-get( $colors, $color ), $tone );
}

body {
    background-color: color( body, bg );
    color: color( body, color );
}

header {
    background-color: color( header, bg );
    color: color( header, color );
}

main {
    background-color: color( main, bg );
    color: color( main, color );
}

aside {
    background-color: color( aside, bg );
    color: color( aside, color );
}

.widgets {
    background-color: color( body, bg );

    & > div {
        background-color: color( widget, bg );
        color: color( widget, color );
    }
}

footer {
    background-color: color( footer, bg );
    color: color( footer, color );
}